.homeSection {
  position: absolute;
  left: 7.5%;
  top: 80px;
  width: 92.5%;
  height: calc(100vh - 80px);
  display: flex;
  .infoBar {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid lightgray;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      h2 {
        font-size: 36px;
      }
      p {
        color: #43A5EF;
        border: 4px solid #43A5EF;
        padding: 4px;
        border-radius: 50%;
       i {
         font-size: 28px;
       }
      }
    }
    i {
      font-size: 40px;
      color: #43A5EF;
    }
  }
}